<div class="main-container">
  <div class="container">
    <div class="form-login" >
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
      <div class="avatar-upload">
       <div class="avatar-edit">

        <%= f.input :avatar,
                      required: true,
                      autofocus: true ,
                      label: false,
                      wrapper: false,
                      input_html: { type: 'file', id: "user_avatar", accept: ".png, .jpg, .jpeg", name: "user[avatar]", class: "{{ $errors->has('email') ? 'alert alert-danger' : '' }} required file form-control-file is-valid" }%>

            <label for="user_avatar"></label>
        </div>
        <div class="avatar-preview container2">
          <% if current_user.avatar.present? %>
            <% avatar = cl_image_path(current_user.avatar) %>
          <% else %>
            <% avatar = image_path("default_avatar.png") %>
          <% end %>
            <div id="imagePreview" style="background-image: url(<%= avatar %>);">
                <input type="hidden" name="_token" value="{{csrf_token()}}">
            </div>
        </div>
      </div>

      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>
          <div class="col-xs-12 col-md-6">

            <%= f.input :role,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "role" }%>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-12 col-md-6">
            <%= f.input :username,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "username" }%>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :fistname,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "fistname" }, :style => "padding-top:" %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :lastname,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "lastname"}%>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="row">
          <div class="col-xs-12">
            <%= f.input :address,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "address", placeholder: "Enter your address" , id: "address" }%>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7 col-sm-3 ">
           <div class="form-actions">

             <%= f.button :submit, "Update", class:"btn btn-primary" %>

          </div>
        </div>
      </div>

      <% end %>

      <hr>


      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
<%= render "shared/map", markers: @markers %>
</div>




















