<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="container" >
    <div class="form-login" >
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <%= image_tag @qr_string %>
            <% if current_user.telephonenumber.present? %>
              <%= current_user.username + '/' + current_user.email + '/' + current_user.telephonenumber  %>
            <% else %>
               <%= current_user.username + '/' + current_user.email  %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="form-login" >
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">

            <%= f.input :username,
                        required: true,
                        autofocus: true ,
                        label: "Matricule",
                        input_html: { autocomplete: "username", placeholder: "Matricule"  }%>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.input :current_password,
                        required: true,
                        label: "Mot de passe",
                        input_html: { placeholder: "Votre mot de passe pour le changment" } %>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.input :password,
                        required: false,
                        label: "Nouveau mot de passe",
                        input_html: { placeholder: "Blanc pour ne pas modifier" } %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.input :password_confirmation,
                        required: false,
                        label: "Confirmer le mot de passe",
                        input_html: { placeholder: "Confirmer le nouveau mot de passe" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-login" >
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
             <%= f.label "Filiale *"  %>
            <%= f.collection_select(:subsidiary, Type.where(label: 'Filiale'), :id, :value, { :prompt => 'Filiale'}, {class: 'form-control' }) %>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.label "Catégorie *"  %>
            <%= f.collection_select(:category, Type.where(label: 'Catégorie'), :id, :value, { :prompt => 'Catégorie'}, {class: 'form-control' }) %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.input :telephonenumber,
                        required: false,
                        label: "Téléphone",
                        input_html: { placeholder: "Téléphone GSM ou Fixe" } %>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.input :post,
                        required: false,
                        label: "Autres contact",
                        input_html: { placeholder: "Post cisco ou autres" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-login" >
    <div class="container" >
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour", class:"own-button btn-lg" %>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
<% end %>







