<% if current_user.role == 'Admin' %>
  <% @users = User.all %>
  <div class="container-users text-center" class="col-xs-12 col-sm-3 col-sm-offset-2">
    <div class="row" class="col-xs-12 col-sm-3 col-sm-offset-2">
      <% @users.each do |user| %>
          <div class="col-xs-12 col-sm-3 col-sm-offset-2">
            <div class="user-card">
            <% usersAvatars = policy_scope(Member).where(user_id: user, type_id: (Type.where(value: 'Collaborateur(rice)'))) %>
            <% if usersAvatars.present? %>
              <% usersAvatars.each do |userAvatar| %>
                <% if userAvatar.avatar.present? %>
                  <% avatar = image_path userAvatar.avatar%>
                <% end %>
                <img class="card-avatar" src=<%= avatar %> />
                <h1><%= userAvatar.firstname.capitalize %> <%= userAvatar.lastname.upcase %></h1>
              <% end %>
            <% else %>
              <% avatar = image_path("default_avatar.png") %>
                <img class="card-avatar" src=<%= avatar %> />
                <h1><%= "Prénom" %> <%= "NOM" %></h1>
          <% end %>
            <p><%= user.email %></p>
            <p> <strong>User Role : </strong> <%= user.role %> </p> <br/>
            <%= link_to 'Grant Admin', users_grant_path(user,"Admin") %>
            <%= link_to 'Grant Back-Office', users_grant_path(user,"Back-Office") %>
            <%= link_to 'Grant Employé', users_grant_path(user,"Employé") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


