<div class="container-payment">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6  ">
      <div class="order-check">
        <h1>1. Please, Check your information :</h1>
        <div class="check-client-info">
          <p> <strong><%= current_user.fistname.capitalize %> <%= current_user.lastname.capitalize %> </strong> </p>
          <p> <i class="fas fa-map-marker-alt" style="color: #f7931e;"></i> <%= current_user.address.capitalize %></p>
          <p><i class="fas fa-phone" style="color: #f7931e;"></i> 0668.346528</p>
        </div>
          <h1>2. Review before paying your order :</h1>
          <p><strong>Purchase of :</strong> <%= @order.product.name.capitalize %></p>
          <p> <strong><i class="fas fa-phone" style="color: #f7931e;"></i> Seller's Phone : </strong>0661.673487</p>
          <p> <strong><i class="fas fa-map-marker-alt" style="color: #f7931e;"></i> Seller's Address : </strong>213, Boulevard d'Anfa, Maarif, Casablanca.</p>
          <%= cl_image_tag @order.product.productimages.first.photo.url , class: "order-img"%>

          <%= form_tag order_payments_path(@order) do %>
            <article>
              <label class="amount">
                <span>Price: <%= humanized_money_with_symbol(@order.amount) %></span>
              </label>
            </article>


            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My Product"
              data-email="<%= current_user.email %>"
              data-description="<%= @order.product.name %>"
              data-amount="<%= @order.amount_cents %>"
              data-currency="<%= @order.amount.currency %>"></script>
          <% end %>



      </div>
    </div>
  </div>
</div>
