<div class="container products" id="product_form">
  <div class="col-xs-12 col-sm-6 col-md-6 product_new_form" >
    <%= simple_form_for @product,html: {multipart: true} ,input_html: {id: "product_form"}, remote: true do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <h4 class="title-span"><span class="glyphicon glyphicon-pencil"></span>Adding new product ...</h4>
      <div class="form-inputs ">
        <%= f.input :name, label: 'Product Name: ', placeholder: 'My Product', wrapper_html: {class: 'div-input'}, label_html: {class: 'label-input'}, input_html: {class: 'form-control form-control-lg'} %>
        <%= f.input :description ,label: 'Product description: ', placeholder: 'The best description of my product', wrapper_html: {class: 'div-input'}, label_html: {class: 'label-input'}  %>
        <%= f.input :price %>
        <%= f.association :producttype ,label: 'Product description: ', prompt: 'Choose a product type', wrapper_html: {class: 'div-input'}, label_html: {class: 'label-input'}%>
      </div>
      <h5 class="upload-span">*Upload pics (choose more then one)</h5>
      <div  class="col-xs-12 col-md-10 upload-pic">
        <%= simple_fields_for :products do |p| %>
        <%= p.file_field :productimage, multiple: true ,name: "product_images[photo][]" %>
        <% end %>
      </div>

      <div class="form-actions button-form">
        <%= f.button :submit , class: 'own-button' %>
      </div>

    <% end %>

  </div>

  <div class="col-xs-12 col-sm-5 col-md-5 productimages_new_form" >
    <h4 class="title-span"><span class="glyphicon glyphicon-expand"></span>Product preview ...</h4>
    <div id="product-info">
        <%= render 'products/show', product: @product %>
    </div>

    <div id="form-upload" class="col-xs-12 col-sm-6 col-md-6">

    </div>
  </div>
</div>

