<p class="prev-name pics-label-input">Product Name : <%= product.name %></p>
<P class="prev-desc pics-label-input">Description : <%= product.description %></P>
<p class="prevpics pics-label-input">Your product pics looks like bellow ... </p>
<div class="row">
<% product.productimages.each do |img| %>

<div class="col-xs-12 col-sm-6 img-prev" data-card-id="<%= img.id %>">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path Productimage.find(img.id).photo , height: 300, width: 400, crop: :fill %>')">
    <div class="card-description">
      <h2 class="productname"><%= img.alt %></h2>
    </div>


    <p>

    </p>
  </div>
</div>
<% end %>
</div>
