
<!-- Flickity HTML init -->
 <div class="row">
    <div class="carousel" data-flickity='{ "groupCells": true , "autoPlay": true}'>
       <% @products.each do |product| %>
            <div class="carousel-cell" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= product.thumb %>);" >
            </div>

       <% end %>
  </div>
</div>


  <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="card image-zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= product.thumb %>);" data-zoom="<%= product.thumb %>">
            <div class="card-category"><%= product.producttype.name %></div>
            <div class="card-description">
              <h2 class="productname"><%= product.name %></h2>
            </div>
            <img class="card-user avatar" src=<%= product.user.avatar %>>
             <%= image_tag "shopping-cart.png",:class => "addtochart", height: 40 %>
            <a class="card-link image-zoom" href="<%= product_path(product) %>"></a>
        </div>
      </div>

      <% end %>
  </div>




