<h2 class="h2-title">Futured Items ...</h2>
<!-- Flickity HTML init -->
 <div class="row">
    <div class="carousel" data-flickity='{ "groupCells": true , "autoPlay": true}'>
      <% @products.each do |product| %>
        <% if product.productimages[0].nil? || Productimage.find(product.productimages[0].id).photo.url.nil?%>
          <% default_image = image_path("default_product.png") %>
        <% else %>
          <% default_image = cl_image_path Productimage.find(product.productimages[0].id).photo, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="carousel-cell" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= default_image %>);" >
        </div>
      <% end %>
    </div>
</div>
<h2 class="h2-title">All the articles ...</h2>

<!-- <div class="products">
  <div class="container">
      <% @products.each do |product| %>
        <div class="col-xs-12 col-sm-4 col-md-4">
         <% if product.productimages[0].nil? || Productimage.find(product.productimages[0].id).photo.url.nil? %>
          <% default_image = image_path("default_product.png") %>
         <% else %>
          <% default_image = cl_image_path Productimage.find(product.productimages[0].id).photo, height: 300, width: 400, crop: :fill %>
         <% end %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= default_image  %>);">
            <div class="card-category"><%= product.producttype.name %></div>
            <div class="card-description">
              <h2 class="productname"><%= product.name %></h2>
            </div>
            <img class="card-user avatar" src=<%= product.user.avatar %>>
             <%= image_tag "shopping-cart.png",:class => "addtochart", height: 40 %>
            <a class="card-link" href="<%= product_path(product) %>"></a>
        </div>
      </div>

      <% end %>
  </div>
</div> -->

<div class="products-card">
  <div class="container-fluid">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-containt">
          <% if product.productimages[0].nil? || Productimage.find(product.productimages[0].id).photo.url.nil? %>
            <% default_image = image_path("default_product.png") %>
          <% else %>
            <% default_image = cl_image_path Productimage.find(product.productimages[0].id).photo, height: 300, width: 400, crop: :fill %>
          <% end %>

          <div class="images">
            <img src= <%= default_image %> >
          </div>
          <div class="desc-card" >
            <p> <%= product.producttype.name %> </p>
            <h1> <%= product.name %> </h1>
            <h2> <%= humanized_money_with_symbol(product.price) %> </h2>
            <p class="desc"> <%=  product.description %> </p>
            <div class="card-button">
               <a class="buy" href="<%= product_path(product) %>">Buy Now</a>
               <a class="like" href="#"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



