 <div class="container product">
 <h3> PRODUCT DETAILS: </h3>
   <div class="col-xs-12 col-sm-6" >

    <img class="product_pic" src=<%= @product.thumb %> />
    </div>
   <div class="col-xs-12 col-sm-6">
        <h2>Product Name :  <%= @product.name %></h2>
        <P>Description : <%= @product.description %></P>
        <P>Category : <i><%= @product.producttype.name %></i></P>
        <h3> Store </h3>
        <p> <%= @product.user.email %></p>
        <br/>
        <br/>
       <a href="<%= buyproduct_path(@product) %>" <button type="button" class="btn btn-success">Buy now</button></a>
        <button type="button" class="btn btn-secondary">Get -10 % if you buy in (50min)</button>
    </div>
 </div>
 <div class="card" >

 </div>
