  <% owner_test = !current_user.nil? && (current_user == @product.user || current_user.role=="admin") %>

  <div class="row" >
    <div class="col-xs-12 col-sm-8 col-md-8" >
      <div class="row" style="margin-top:50px;">
        <div class="col-xs-6" id="newcarousel">
          <%= render 'productimages/carousel', productimage: @productimages, product: @product %>
        </div>
        <div class="col-xs-6">
          <div class="form group show-group">
            <h2 style="color: #f7931e;"> <%= @product.name %></h2>
            <P><i class="fas fa-signature" style="color: #f7931e;"></i>Description : <%= @product.description %></P>
            <p><i class="fas fa-dollar-sign" style="color: #f7931e;"></i>   Price: <span class="prix"><%= humanized_money_with_symbol(@product.price) %></span></p>
            <P><i class="fas fa-star" style="color: #f7931e;"></i>Category : <i><%= @product.producttype.name %></i></P>
            <p style="color: gray;"><i class="fas fa-store"></i> Store : </p>
            <p style="color: #f7931e;"> <%= @product.user.username %></p>
            <br/>
            <div class="col-xs-6">
              <div class="form-group">
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'product_id', @product.id %>
                  <%= submit_tag 'Buy now', class: 'btn btn-success' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
  <% if owner_test %>
    <div class="col-xs-12" id="new_image">
       <%=  render 'productimages/index', product: @product %>
    </div>
  <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" >
        <%= render "shared/map", markers: @markers %>
    </div>
  </div>

