<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlashSouk</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "map" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <!-- font awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- CSS jcaroussel-->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if current_user  %>
        <%= render 'shared/logged_navbar' %>
        <%= render 'shared/categories_navbar' %>
      <%= render 'shared/flashes' %>
      <%= render 'shared/spacing' %>
    <% else %>
      <% if controller_name == "products" %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/categories_navbar' %>
        <%= render 'shared/products_navbar' %>
      <% end %>
    <% end %>
  <div class="container main-container">

      <div class="col-xs-12 col-sm-12 col-md-12">
          <%= yield %>
      </div>

  </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
    <!-- JavaScript jcaroussel-->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
